In [1]:
from sklearn.neural_network import MLPClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data = pd.read_csv('insti_mood.csv')
data = pd.read_csv('insti_mood.csv')

data.X1.fillna(3, inplace = True)
data.X2.fillna(3, inplace = True)
data.X3.fillna(3, inplace = True)
data.X4.fillna(2, inplace = True)
data.X5.fillna(3, inplace = True)
data.Y.fillna(3, inplace = True)

data.replace(["Poor", "Not sure", "Decent", "Good"], [1, 2, 3, 4], inplace=True)

data.drop(0, inplace = True)

In [4]:
data

     X1 X2 X3 X4 X5  Y
1     1  1  1  1  3  1
2     3  3  3  2  3  3
3     1  1  1  1  3  2
4     3  4  3  4  2  5
5     4  3  3  4  3  3
...  .. .. .. .. .. ..
1302  3  4  2  1  2  1
1303  5  5  3  4  3  4
1304  4  3  3  3  2  3
1305  4  4  4  3  4  5
1306  3  3  2  3  3  2

[1306 rows x 6 columns]

In [12]:
X1 = data.drop('Y', axis=1)
X = X1.astype(int)
y1 = data['Y']
y = y1.astype(int)

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3, random_state=3)

In [21]:
nn = MLPClassifier(max_iter=500, activation='tanh', solver='adam', hidden_layer_sizes=(100,100), random_state=3)
nn.fit(X_train,y_train)

MLPClassifier(activation='tanh', hidden_layer_sizes=(100, 100), max_iter=500,
              random_state=3)

In [22]:
y_pred=nn.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred))

0.44642857142857145